@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap");
body {
  background-color: #22292F;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
}

body .loader {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #22292F;
  top: 0%;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

body header {
  padding: 0.5vh 1vw;
  font-weight: bold;
  font-size: 1.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 7vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .text {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

body header .text ::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #1900ff;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

body header .text a {
  text-decoration: none;
  color: #fff;
}

body header .text :hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

body header h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2vw;
  font-weight: lighter;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #ffffff;
}

body header h1 ::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 5px;
  bottom: 0;
  left: 0;
  background-color: #1900ff;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

body header h1 a {
  text-decoration: none;
  color: #fff;
}

body header h1 :hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

body header .logo {
  z-index: -100;
}

body hero {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 1.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 70vh;
  padding: 1vw;
}

body hero label {
  padding-bottom: 3px;
  border-bottom: 2px solid #ffffff;
}

body hero input {
  width: 6vw;
  height: 2.5vw;
  border: 0 solid;
  font-size: 2vw;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

body hero input :hover {
  border: 1px solid;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.2);
  outline-color: rgba(255, 255, 255, 0);
  outline-offset: 15px;
  text-shadow: 1px 1px 2px #427388;
}

body hero .bubbly-button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 0.5em;
  padding: 0.5em 1em;
  margin-top: 50px;
  margin-bottom: 30px;
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: #ff0081;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-transition: -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.25s;
  transition: -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.25s;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s;
  transition: transform ease-in 0.1s, box-shadow ease-in 0.25s, -webkit-transform ease-in 0.1s, -webkit-box-shadow ease-in 0.25s;
  -webkit-box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
          box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

body hero .bubbly-button a {
  text-decoration: none;
  color: white;
}

body hero .bubbly-button:focus {
  outline: 0;
}

body hero .bubbly-button:before, body hero .bubbly-button:after {
  position: absolute;
  content: '';
  display: block;
  width: 140%;
  height: 100%;
  left: -20%;
  z-index: -1000;
  -webkit-transition: all ease-in-out 0.5s;
  transition: all ease-in-out 0.5s;
  background-repeat: no-repeat;
}

body hero .bubbly-button:before {
  display: none;
  top: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 20%, #ff0081 20%, transparent 30%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 10% 10%, 20% 20%, 15% 15%, 20% 20%, 18% 18%, 10% 10%, 15% 15%, 10% 10%, 18% 18%;
}

body hero .bubbly-button:after {
  display: none;
  bottom: -75%;
  background-image: radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, transparent 10%, #ff0081 15%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%), radial-gradient(circle, #ff0081 20%, transparent 20%);
  background-size: 15% 15%, 20% 20%, 18% 18%, 20% 20%, 15% 15%, 10% 10%, 20% 20%;
}

body hero .bubbly-button:active {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  background-color: #e60074;
  -webkit-box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
          box-shadow: 0 2px 25px rgba(255, 0, 130, 0.2);
}

body hero .bubbly-button.animate:before {
  display: block;
  -webkit-animation: topBubbles ease-in-out 0.75s forwards;
          animation: topBubbles ease-in-out 0.75s forwards;
}

body hero .bubbly-button.animate:after {
  display: block;
  -webkit-animation: bottomBubbles ease-in-out 0.75s forwards;
          animation: bottomBubbles ease-in-out 0.75s forwards;
}

@-webkit-keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes topBubbles {
  0% {
    background-position: 5% 90%, 10% 90%, 10% 90%, 15% 90%, 25% 90%, 25% 90%, 40% 90%, 55% 90%, 70% 90%;
  }
  50% {
    background-position: 0% 80%, 0% 20%, 10% 40%, 20% 0%, 30% 30%, 22% 50%, 50% 50%, 65% 20%, 90% 30%;
  }
  100% {
    background-position: 0% 70%, 0% 10%, 10% 30%, 20% -10%, 30% 20%, 22% 40%, 50% 40%, 65% 10%, 90% 20%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@-webkit-keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

@keyframes bottomBubbles {
  0% {
    background-position: 10% -10%, 30% 10%, 55% -10%, 70% -10%, 85% -10%, 70% -10%, 70% 0%;
  }
  50% {
    background-position: 0% 80%, 20% 80%, 45% 60%, 60% 100%, 75% 70%, 95% 60%, 105% 0%;
  }
  100% {
    background-position: 0% 90%, 20% 90%, 45% 70%, 60% 110%, 75% 80%, 95% 70%, 110% 10%;
    background-size: 0% 0%, 0% 0%,  0% 0%,  0% 0%,  0% 0%,  0% 0%;
  }
}

body hero .sun {
  width: 2vw;
  height: 2vw;
  background: #fc3;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.22, #cc9900), color-stop(1, #ffdb70));
  -webkit-box-shadow: 0 0 50px #c90;
          box-shadow: 0 0 50px #c90;
}

body hero .planet {
  border-radius: 50%;
  position: absolute;
}

body hero .mercury {
  background: brown;
  width: 1vw;
  height: 1vw;
}

body hero .venus {
  background: #bf8639;
  width: 1.5vw;
  height: 1.5vw;
}

body hero .earth {
  background: #06c;
  width: 1.6vw;
  height: 1.6vw;
}

body hero .earth .moon {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: white;
  width: 0.8vw;
  height: 0.8vw;
  border-radius: 50%;
}

body hero .mars {
  background: rgba(185, 4, 4, 0.863);
  width: 1.5vw;
  height: 1.5vw;
}

body hero .jupiter {
  background: #e0ae6f;
  width: 2vw;
  height: 2vw;
}

body hero .saturn {
  background: #dfd3a9;
  width: 1.8vw;
  height: 1.8vw;
}

body hero .uranus {
  background: #c9d182;
  width: 1.7vw;
  height: 1.7vw;
}

body hero .neptune {
  background: #77c2ec;
  width: 1.6vw;
  height: 1.6vw;
}

body hero .orbit {
  border-radius: 50%;
  position: absolute;
  border: 1vw solid white;
  z-index: -10;
}

body hero .orbit1 {
  width: 4vw;
  height: 4vw;
}

body hero .orbit2 {
  width: 7vw;
  height: 7vw;
}

body hero .orbit3 {
  width: 11vw;
  height: 11vw;
}

body hero .orbit4 {
  width: 15vw;
  height: 15vw;
}

body hero .orbit5 {
  width: 24vw;
  height: 24vw;
}

body hero .orbit6 {
  width: 30vw;
  height: 30vw;
}

body hero .orbit7 {
  width: 34vw;
  height: 34vw;
}

body hero .orbit8 {
  width: 38vw;
  height: 38vw;
}

body hero .astroid {
  width: 20vw;
  height: 20vw;
  border: 0.1vw dashed #ff6600;
}
/*# sourceMappingURL=index.css.map */