@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100;300;400&display=swap");
body, html {
  margin: 0;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #22292F;
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  color: #ffffff;
}

body .loader {
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: #22292F;
  top: 0%;
  left: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 1000;
}

body header {
  padding: 0.5vh 1vw;
  font-weight: bold;
  font-size: 1.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 15vh;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header .text {
  display: inline-block;
  position: relative;
  color: #ffffff;
}

body header .text ::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 0.1vw;
  bottom: 0;
  left: 0;
  background-color: #1900ff;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  transition: -webkit-transform 0.25s ease-out;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

body header .text a {
  text-decoration: none;
  color: #fff;
}

body header .text :hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

body header h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2vw;
  font-weight: lighter;
  text-decoration: none;
  display: inline-block;
  position: relative;
  color: #ffffff;
}

body header h1 ::after {
  content: '';
  position: absolute;
  width: 100%;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  height: 0.1vw;
  bottom: 0;
  left: 0;
  background-color: #1900ff;
  -webkit-transform-origin: bottom right;
          transform-origin: bottom right;
  -webkit-transition: -webkit-transform 0.25s ease-out;
  transition: -webkit-transform 0.25s ease-out;
  transition: transform 0.25s ease-out;
  transition: transform 0.25s ease-out, -webkit-transform 0.25s ease-out;
}

body header h1 a {
  text-decoration: none;
  color: #fff;
}

body header h1 :hover:after {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: bottom left;
          transform-origin: bottom left;
}

body header .logo {
  z-index: -100;
}

body hero {
  font-family: 'Raleway', sans-serif;
  font-weight: lighter;
  font-size: 1.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 85vh;
  padding: 1vw;
  position: relative;
}

body hero label {
  padding-bottom: 3px;
  border-bottom: 2px solid #ffffff;
}

body hero input {
  width: 6vw;
  height: 2.5vw;
  border: 0 solid;
  font-size: 2vw;
  background-color: #22292F;
  color: white;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

body hero section {
  position: absolute;
  bottom: 0;
  left: 43%;
}

body hero .bubbly-button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 0.5em;
  padding: 0.5em 1em;
  margin-top: 50px;
  margin-bottom: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ff0081;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
          box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

body hero .bubbly-button .bubbly-button a {
  text-decoration: none;
  color: white;
}

body hero .bubbly-button .bubbly-button:focus {
  outline: 0;
}

body hero .solar .sun {
  width: 2vw;
  height: 2vw;
  background: #fc3;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.22, #cc9900), color-stop(1, #ffdb70));
  -webkit-box-shadow: 0 0 50px #c90;
          box-shadow: 0 0 50px #c90;
}

body hero .solar .planet {
  border-radius: 50%;
  position: absolute;
}

body hero .solar .mercury {
  background: brown;
  width: 1vw;
  height: 1vw;
}

body hero .solar .venus {
  background: #bf8639;
  width: 1.5vw;
  height: 1.5vw;
}

body hero .solar .earth {
  background: #06c;
  width: 1.6vw;
  height: 1.6vw;
}

body hero .solar .mars {
  background: rgba(185, 4, 4, 0.863);
  width: 1.5vw;
  height: 1.5vw;
}

body hero .solar .jupiter {
  background: #e0ae6f;
  width: 2vw;
  height: 2vw;
}

body hero .solar .saturn {
  background: #dfd3a9;
  width: 1.8vw;
  height: 1.8vw;
}

body hero .solar .uranus {
  background: #c9d182;
  width: 1.7vw;
  height: 1.7vw;
}

body hero .solar .neptune {
  background: #77c2ec;
  width: 1.6vw;
  height: 1.6vw;
}

body hero .solar .orbit {
  border-radius: 50%;
  position: absolute;
  border: 0.1vw solid white;
  z-index: -10;
}

body hero .solar .orbit1 {
  width: 4vw;
  height: 4vw;
}

body hero .solar .orbit2 {
  width: 7vw;
  height: 7vw;
}

body hero .solar .orbit3 {
  width: 11vw;
  height: 11vw;
}

body hero .solar .orbit4 {
  width: 15vw;
  height: 15vw;
}

body hero .solar .orbit5 {
  width: 24vw;
  height: 24vw;
}

body hero .solar .orbit6 {
  width: 30vw;
  height: 30vw;
}

body hero .solar .orbit7 {
  width: 34vw;
  height: 34vw;
}

body hero .solar .orbit8 {
  width: 38vw;
  height: 38vw;
}

body hero .solar .astroid {
  width: 20vw;
  height: 20vw;
  border: 0.1vw dashed #ff6600;
}

body .info {
  width: 50%;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.2rem;
  text-align: justify;
  line-height: 2rem;
}

body .info h2 {
  font-size: 2.5vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .info div {
  color: #ff0081;
  font-size: 2vw;
}

body .info a {
  font-size: 1.5vw;
  text-decoration: none;
  font-weight: 700;
  color: #0804ff;
}

body .info a:hover {
  text-decoration: underline;
}

body .info a:active {
  color: #3437ff;
}

body .info a:visited {
  color: #2bff00;
}

body .gravity {
  height: 100vh;
  width: 100%;
  padding: 1vw;
  display: inline-block;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

body .gravity .bubbly-button {
  font-family: 'Helvetica', 'Arial', sans-serif;
  display: inline-block;
  font-size: 0.5em;
  padding: 0.5em 1em;
  margin-top: 50px;
  margin-bottom: 30px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background-color: #ff0081;
  color: #fff;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  position: relative;
  -webkit-box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
          box-shadow: 0 2px 25px rgba(255, 0, 130, 0.5);
}

body .gravity .bubbly-button .bubbly-button a {
  text-decoration: none;
  color: white;
}

body .gravity .bubbly-button .bubbly-button:focus {
  outline: 0;
}

body .gravity .comp1 {
  float: left;
  width: 50%;
  height: 100vh;
  display: flexbox;
  position: relative;
  padding-right: 1vw;
  border-right: 1px solid #ffffff;
}

body .gravity .comp1 h2 {
  font-size: 2vw;
  text-decoration: underline;
}

body .gravity .comp1 .inputcomp1 {
  font-size: 1.5vw;
  text-decoration: underline;
}

body .gravity .comp1 .inputcomp1 input {
  width: 10vw;
  height: 2.5vw;
  border: 0 solid;
  font-size: 1.5vw;
  background-color: #22292F;
  color: white;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

body .gravity .comp1 .inputcomp1 .gaf1 {
  width: 18vw;
}

body .gravity .comp1 .img1 {
  width: 15vw;
  position: absolute;
  bottom: 2vh;
}

body .gravity .comp2 {
  float: right;
  width: 50%;
  height: 100vh;
  display: flexbox;
  position: relative;
  border-left: 1px solid #ffffff;
  padding-left: 1vw;
}

body .gravity .comp2 h2 {
  font-size: 2vw;
  text-decoration: underline;
}

body .gravity .comp2 .inputcomp2 {
  font-size: 1.5vw;
  text-decoration: underline;
}

body .gravity .comp2 .inputcomp2 input {
  width: 10vw;
  height: 2.5vw;
  border: 0 solid;
  font-size: 1.5vw;
  background-color: #22292F;
  color: white;
  -webkit-box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
          box-shadow: inset 0 0 20px rgba(255, 255, 255, 0);
  outline: 1px solid;
  outline-color: rgba(255, 255, 255, 0.5);
  outline-offset: 0px;
  text-shadow: none;
  -webkit-transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
  transition: all 1250ms cubic-bezier(0.19, 1, 0.22, 1);
}

body .gravity .comp2 .inputcomp2 .gaf2 {
  width: 18vw;
}

body .gravity .comp2 .img2 {
  width: 20vw;
  position: absolute;
  bottom: 2vh;
  right: 0;
}

body .data {
  height: 102vh;
}
/*# sourceMappingURL=index.css.map */

footer {
  background-color: #24282b;
  color: #ffffff;
  padding: 50px 0;
  font-size: 16px;
  margin: 10px;
  height: 25vh;
}

.footer-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-logo img {
  max-width: 100px;
  margin-bottom: 30px;
}

.footer-links ul {
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-links li {
  margin: 0 10px;
}

.footer-links a {
  color: #ffffff;
  text-decoration: none;
}

.footer-social ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
}

.footer-social li {
  margin: 0 10px;
}

.footer-social a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
}

.footer-social a:hover {
  color: #ff4500;
}

.footer-bottom {
  text-align: center;
}


.gallery {
  margin: 15px auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 4fr));
  grid-gap: 20px;
}

.gallery img {
  width: 100%;
  height: auto;
}
